<!DOCTYPE html>
<html lang="en" ng-app="ToDo">
<head>
    <title>To Do</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div ng-controller="todoController">
        <form name="form" ng-submit="addTodo()">
            <input type="text" name="newtodo" ng-model="newtodo" required/> 
            <button type="submit" ng-disabled="form.$invalid">Add</button>
        </form>
        <button ng-click="clearCompleted()">Clear completed</button>
        <ul>
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done" />
                <span ng-class="{'done': todo.done}">
                    {{ todo.title }}
                </span>
            </li>
        </ul>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
